body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #480c0c;
  color: white;
  padding: 20px;
}

main {
  padding: 20px;
}

h1 {
  margin-top: 0;
}

a {
  color: white;
}

section {
  margin-bottom: 40px;
}

footer {
  background-color: #480c0c;
  text-align: center;
  color: white;
  padding: 15px;
}
